processing/lifeboxPollinators/-
[{"id":"5e8dedd6.614734","type":"tab","label":"Lifebox Pollinators","disabled":false,"info":""},{"id":"44cf658.7afaf9c","type":"ui_text","z":"5e8dedd6.614734","group":"91d2fda.3af11","order":0,"width":0,"height":0,"name":"","label":"Simulation data:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":120,"wires":[],"icon":"node-red/arrow-in.svg"},{"id":"bfd34f70.39263","type":"ui_slider","z":"5e8dedd6.614734","name":"","label":"Flower 1 Data 1","tooltip":"","group":"8dfb009f.707","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":260,"wires":[[]]},{"id":"be94fa29.7caac8","type":"ui_slider","z":"5e8dedd6.614734","name":"","label":"Flower 1 Data 2","tooltip":"","group":"8dfb009f.707","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":300,"wires":[[]]},{"id":"823bfb07.766198","type":"ui_slider","z":"5e8dedd6.614734","name":"","label":"Flower 1 Data 3","tooltip":"","group":"8dfb009f.707","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":340,"wires":[[]]},{"id":"794dbd25.8d2be4","type":"ui_slider","z":"5e8dedd6.614734","name":"","label":"Flower 2 Data 1","tooltip":"","group":"4a2972e7.ea52ec","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":150,"y":380,"wires":[[]]},{"id":"2eaf30d4.5214e","type":"ui_switch","z":"5e8dedd6.614734","name":"","label":"Flower 2 Data 2","tooltip":"","group":"4a2972e7.ea52ec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":420,"wires":[[]]},{"id":"e0a6ac13.3a61e","type":"ui_switch","z":"5e8dedd6.614734","name":"","label":"Flower 2 Data 3","tooltip":"","group":"4a2972e7.ea52ec","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":460,"wires":[[]]},{"id":"7737c9c5.c2c8a8","type":"mqtt in","z":"5e8dedd6.614734","name":"","topic":"/lifeboxPollinatorData/flowerData","qos":"2","datatype":"auto","broker":"4e1f1e87.c398a","x":190,"y":120,"wires":[["44cf658.7afaf9c"]]},{"id":"91d2fda.3af11","type":"ui_group","name":"Information","tab":"20a2a0e5.708e6","order":3,"disp":false,"width":"6","collapse":false},{"id":"8dfb009f.707","type":"ui_group","name":"Flower 1","tab":"20a2a0e5.708e6","order":1,"disp":false,"width":"6","collapse":false},{"id":"4a2972e7.ea52ec","type":"ui_group","name":"Flower 2","tab":"20a2a0e5.708e6","order":2,"disp":false,"width":"6","collapse":false},{"id":"4e1f1e87.c398a","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20a2a0e5.708e6","type":"ui_tab","name":"Lifebox Pollinators Controller","icon":"dashboard","order":1,"disabled":false,"hidden":false}]