processing/lifeboxPollinators/flows.json
[
    {
        "id": "5e8dedd6.614734",
        "type": "tab",
        "label": "Lifebox Pollinators",
        "disabled": false,
        "info": ""
    },
    {
        "id": "44cf658.7afaf9c",
        "type": "ui_text",
        "z": "5e8dedd6.614734",
        "group": "91d2fda.3af11",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Simulation data:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 550,
        "y": 120,
        "wires": [],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "bfd34f70.39263",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Life expectancy",
        "tooltip": "",
        "group": "8dfb009f.707",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "100",
        "max": "800",
        "step": 1,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "480c2d.2c6fd3d4"
            ]
        ]
    },
    {
        "id": "be94fa29.7caac8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "8dfb009f.707",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "aa3603aa.6dc4f"
            ]
        ]
    },
    {
        "id": "823bfb07.766198",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Wind reproduction",
        "tooltip": "",
        "group": "8dfb009f.707",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1500",
        "max": "500",
        "step": "-1",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "21279982.9a87d6"
            ]
        ]
    },
    {
        "id": "794dbd25.8d2be4",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Life expectancy",
        "tooltip": "",
        "group": "4a2972e7.ea52ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "100",
        "max": "800",
        "step": 1,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "821a9f8e.72421"
            ]
        ]
    },
    {
        "id": "7737c9c5.c2c8a8",
        "type": "mqtt in",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flowersData",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e1f1e87.c398a",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "44cf658.7afaf9c"
            ]
        ]
    },
    {
        "id": "5fbb8296.e1d0ec",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Life expectancy",
        "tooltip": "",
        "group": "6eb274bd.da394c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "100",
        "max": "800",
        "step": 1,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "fd275efe.edf14"
            ]
        ]
    },
    {
        "id": "b14dd7dc.a64118",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "6eb274bd.da394c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "50b94a7.ddbc3b4"
            ]
        ]
    },
    {
        "id": "94cb5ef4.e62e7",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Wind reproduction",
        "tooltip": "",
        "group": "6eb274bd.da394c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1500",
        "max": "500",
        "step": "-1",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "211254be.6c0abc"
            ]
        ]
    },
    {
        "id": "79add261.d2e95c",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "4a2972e7.ea52ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "b7decfb6.217d7"
            ]
        ]
    },
    {
        "id": "9fd6ce4f.db932",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Wind reproduction",
        "tooltip": "",
        "group": "4a2972e7.ea52ec",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1500",
        "max": "500",
        "step": "-1",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "b1f0e272.30be6"
            ]
        ]
    },
    {
        "id": "480c2d.2c6fd3d4",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower1/life",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "821a9f8e.72421",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower2/life",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd275efe.edf14",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower3/life",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa3603aa.6dc4f",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower1/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "b7decfb6.217d7",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower2/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "50b94a7.ddbc3b4",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower3/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 540,
        "wires": []
    },
    {
        "id": "21279982.9a87d6",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower1/windreproduction",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1f0e272.30be6",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower2/windreproduction",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "211254be.6c0abc",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/flower3/windreproduction",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "64097786.a478a8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Max Number Of Pollinator individuals",
        "tooltip": "",
        "group": "439984db.bdd99c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "a1f2947b.e9d6e8"
            ]
        ]
    },
    {
        "id": "ccf0bb56.82eeb8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "ef370840.8af028",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 720,
        "wires": [
            [
                "cbd35755.dcab28"
            ]
        ]
    },
    {
        "id": "32210912.db6666",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Movement rate",
        "tooltip": "",
        "group": "ef370840.8af028",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "40000",
        "max": "20000",
        "step": "-1",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "a5659f21.ffddc"
            ]
        ]
    },
    {
        "id": "2935f89d.cc8558",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "9793f79c.ad21c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "68707398.c1b84c"
            ]
        ]
    },
    {
        "id": "7882c914.4007a8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Movement rate",
        "tooltip": "",
        "group": "9793f79c.ad21c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "40000",
        "max": "20000",
        "step": "-1",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "787faa91.72f994"
            ]
        ]
    },
    {
        "id": "ada22597.a683c8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Movement rate",
        "tooltip": "",
        "group": "ffad160a.b1c138",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "40000",
        "max": "20000",
        "step": "-1",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "2059bbfb.6767f4"
            ]
        ]
    },
    {
        "id": "c7a22629.286948",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Pollination efficency",
        "tooltip": "",
        "group": "ffad160a.b1c138",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "4e95d1db.1eb3e"
            ]
        ]
    },
    {
        "id": "a1f2947b.e9d6e8",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinators/individuals",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "cbd35755.dcab28",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator1/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "68707398.c1b84c",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator2/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "4e95d1db.1eb3e",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator3/pollination",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "a5659f21.ffddc",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator1/movement",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "787faa91.72f994",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator2/movement",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "2059bbfb.6767f4",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorData/pollinator3/movement",
        "qos": "",
        "retain": "",
        "broker": "4e1f1e87.c398a",
        "x": 640,
        "y": 920,
        "wires": []
    },
    {
        "id": "f638d0a8.42f99",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Red Flowers",
        "tooltip": "",
        "group": "aef2e07.afb2f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "75f3dea2.831a8"
            ]
        ]
    },
    {
        "id": "a7a8747b.8684f8",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Blue Flowers",
        "tooltip": "",
        "group": "aef2e07.afb2f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "a948f48e.939968"
            ]
        ]
    },
    {
        "id": "3ad80af8.34ae26",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Green Flowers",
        "tooltip": "",
        "group": "aef2e07.afb2f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "1b852253.b641fe"
            ]
        ]
    },
    {
        "id": "75f3dea2.831a8",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator1/Af_red",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a948f48e.939968",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator1/Af_blue",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1b852253.b641fe",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator1/Af_green",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4aedd8f3.dc9b98",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Red Flowers",
        "tooltip": "",
        "group": "330446d1.08561a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "c7df990.b079c68"
            ]
        ]
    },
    {
        "id": "bacadc02.f2dc",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Red Flowers",
        "tooltip": "",
        "group": "f191d174.ba34a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 170,
        "y": 1320,
        "wires": [
            [
                "e3aad134.66bea"
            ]
        ]
    },
    {
        "id": "4b3c9d00.ec93e4",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Blue Flowers",
        "tooltip": "",
        "group": "330446d1.08561a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "97fa69e8.b44458"
            ]
        ]
    },
    {
        "id": "b1711d12.9d753",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Green Flowers",
        "tooltip": "",
        "group": "330446d1.08561a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "b92e9445.9964e8"
            ]
        ]
    },
    {
        "id": "bdf25fb3.cd3b1",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Blue Flowers",
        "tooltip": "",
        "group": "f191d174.ba34a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1360,
        "wires": [
            [
                "e6855ae7.a4c238"
            ]
        ]
    },
    {
        "id": "3df676e2.b6030a",
        "type": "ui_slider",
        "z": "5e8dedd6.614734",
        "name": "",
        "label": "Affinity to Green Flowers",
        "tooltip": "",
        "group": "f191d174.ba34a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 180,
        "y": 1400,
        "wires": [
            [
                "1b28aa3c.f31dd6"
            ]
        ]
    },
    {
        "id": "c7df990.b079c68",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator2/Af_red",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1160,
        "wires": []
    },
    {
        "id": "97fa69e8.b44458",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator2/Af_blue",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b92e9445.9964e8",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator2/Af_green",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 650,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e3aad134.66bea",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator3/Af_red",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e6855ae7.a4c238",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator3/Af_blue",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 640,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1b28aa3c.f31dd6",
        "type": "mqtt out",
        "z": "5e8dedd6.614734",
        "name": "",
        "topic": "/lifeboxPollinatorsData/pollinator3/Af_green",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3055abfc.0db0b4",
        "x": 650,
        "y": 1400,
        "wires": []
    },
    {
        "id": "91d2fda.3af11",
        "type": "ui_group",
        "name": "Real-time information",
        "tab": "214c9ec5.670ec2",
        "order": 8,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "8dfb009f.707",
        "type": "ui_group",
        "name": "Blue flowers",
        "tab": "8f6eb925.f606c8",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "4a2972e7.ea52ec",
        "type": "ui_group",
        "name": "Red flowers",
        "tab": "8f6eb925.f606c8",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "4e1f1e87.c398a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6eb274bd.da394c",
        "type": "ui_group",
        "name": "Green flowers",
        "tab": "8f6eb925.f606c8",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "439984db.bdd99c",
        "type": "ui_group",
        "name": "All Pollinators",
        "tab": "20a2a0e5.708e6",
        "order": 7,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "ef370840.8af028",
        "type": "ui_group",
        "name": "Pollinator 1",
        "tab": "20a2a0e5.708e6",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "9793f79c.ad21c8",
        "type": "ui_group",
        "name": "Pollinator 2",
        "tab": "20a2a0e5.708e6",
        "order": 5,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "ffad160a.b1c138",
        "type": "ui_group",
        "name": "Pollinator 3",
        "tab": "20a2a0e5.708e6",
        "order": 6,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "aef2e07.afb2f2",
        "type": "ui_group",
        "name": "Pollinator 1 Affinity",
        "tab": "217eabed.c0d324",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "3055abfc.0db0b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "330446d1.08561a",
        "type": "ui_group",
        "name": "Pollinator 2 Affinity",
        "tab": "217eabed.c0d324",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "f191d174.ba34a",
        "type": "ui_group",
        "name": "Pollinator 3 Affinity",
        "tab": "217eabed.c0d324",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "214c9ec5.670ec2",
        "type": "ui_tab",
        "name": "Real-time Simulation Data",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f6eb925.f606c8",
        "type": "ui_tab",
        "name": "LifeBox Flower Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "20a2a0e5.708e6",
        "type": "ui_tab",
        "name": "Lifebox Pollinators Controller",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "217eabed.c0d324",
        "type": "ui_tab",
        "name": "Lifebox Pollinators Affinity",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]